/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  margin-left: 2rem;
  margin-right: 2rem;
}

.inline-block {
  display: inline-block;
}

input {
  border: 1px solid black;
  margin: 7px;
  display: inline-block;
}

label {
  font-weight: bold;
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* Estilos únicos */
#logo {
  padding-top: 2rem;
}

#datos_cliente {
  background-color: #55ccff;
}

#datos_pizza {
  background-color: #40ccbb;
}

#is_disponible {
  display: none;
  z-index: 1;
  position: relative;
  left: 2rem;
  top: -1rem;
}